<app-navbar></app-navbar>

<!-- First Card Section -->
<div class="card my-4">
    <div class="card-body">
        <!-- Header for card -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4>Initiate New Process</h4>
        </div>

        <!-- Product Selection -->
        <div class="row mb-3">
            <div class="col-lg-6">
                <div class="row align-items-center">
                    <label class="col-auto control-label col-form-label">Product</label>
                    <div class="col">
                        <select class="form-select" [(ngModel)]="selectedProduct"
                            (change)="loadNewInsurer(selectedProduct)">
                            <option value="" selected >Select Product</option>
                            <option *ngFor="let item of productData" [value]="item.id">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Insurer Selection (Shown Conditionally) -->
            <div class="col-lg-6" *ngIf="selectedProduct">
                <div class="row align-items-center">
                    <label class="col-auto control-label col-form-label">Insurer</label>
                    <div class="col">
                        <select class="form-select" [(ngModel)]="selectedInsurer" (change)="getTheForm()">
                            <option value="0" selected class="text-secondary">Select Insurer</option>
                            <option *ngFor="let item of insurerData" [value]="item.id">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>







        <!-- Form Section (Shown Conditionally) -->
        <form [formGroup]="myform" p-4 bg-light rounded *ngIf="selectedInsurer">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h4 class="text-start">{{formTitle}}</h4>
                </div>

                <div class="card-body">
                    <!-- Customer Email and Mobile -->
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label class="col-form-label">Customer Email</label>
                            <input type="text" class="form-control w-50 d-inline-flex mx-4"
                                placeholder="Enter Customer Email" formControlName="customer_email">

                        </div>
                        <div class="col-lg-6">
                            <label class="col-form-label">Customer Mobile</label>
                            <input type="text" class="form-control w-50 d-inline-flex mx-4"
                                placeholder="Enter Customer Mobile No" formControlName="customer_mobile_no">
                        </div>
                    </div>

                    <!-- Policy Details -->
                    <div class="row gx-3 mb-3">
                        <div class="col-lg-6">
                            <label class="col-form-label">Policy Number</label>
                            <input type="text" class="form-control w-50 d-inline-flex mx-4 mb-3"
                                placeholder="Enter Policy Number" formControlName="policy_number">
                        </div>
                        <div class="col-lg-6">
                            <label class="col-form-label">Policy From</label>
                            <input type="date" class="form-control w-50 d-inline-flex mx-4 mb-3"
                                formControlName="policy_from">
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="row mb-3">
                            <label class="col-form-label col-sm-3">Policy To</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control d-inline-flex mx-4 mb-2"
                                    formControlName="policy_to">
                            </div>

                        </div>
                    </div>


                    <!-- Dynamic Form Fields -->
                    <div class="row">
                        <div class="col-lg-6 mb-3" *ngFor="let item of motorFormData">
                            <label [for]="item.name" class="form-label col-form-label mb-3">{{item.label}}</label>
                            <input *ngIf="item.type==='text'" 
                                         [id]="item.name" 
                                         [placeholder]="item.placeholder"
                                        class="form-control w-50 d-inline-flex mx-4"   
                                        formControlName="{{item.name}}">


                                        <input *ngIf="item.type==='number'" 
                                         [id]="item.name" 
                                         [placeholder]="item.placeholder"
                                        class="form-control w-50 d-inline-flex mx-4"   
                                        formControlName="{{item.name}}">

                                        <div class="col-lg-6 d-inline-flex w-50 mb-3 mx-4">
                                            <select *ngIf="item.type === 'select'" 
                                                [id]="item.name" 
                                                class="form-select"
                                                formControlName="{{item.name}}">
                                                <option value="" selected>{{ item.placeholder }}</option>
                                                <option *ngFor="let option of item.options" [value]="option.value">{{ option.label }}</option>
                                                <span *ngFor="let validators of motorFormData">
                                                        {{item.validations.validators}}
                                                </span>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                         </div>

                <!-- Footer Buttons -->
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
                    <button type="button" class="btn btn-warning">Auto Fill</button>
                </div>
            </div>
        </form>
    </div>
</div>