.col-form-label{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
}
.form-control{
    font-weight: 400 !important;
    line-height: 1.5;
    font-size: 14px ;
    background-clip: padding-box;
}
.label{
    /* font-weight: 500; */
    display: inline-block;
}
.col-form-label {
    padding-top: calc(.375rem + var(--bs-border-width));
    padding-bottom: calc(.375rem + var(--bs-border-width));
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    text-align: right !important;
    width: 25%;
}
.text-end {
    text-align: right !important;
}