<app-navbar></app-navbar>
<!-- <button class="btn btn-danger" (click)="onRegister()" [routerLink]="('/register')">Registration</button> -->


<!--DASHBOARD-CONTENT  -->
<div class="container-fluid">
    <div class="row">
        <div class="cards d-flex gap-1 ">
            <div class="col-2">
                <div class="card">
                    <div class="card-body-1">
                        <h6 class="card-subtitle-1 mb-2 text-body-secondary">Most Active User</h6>
                        <p>({{dashboard.value.most_active_user.client_names}})</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body-1">
                        <h6 class="card-subtitle-1 mb-2 text-body-secondary">Avg. Days to Settle</h6>
                        <p>{{dashboard.value.avg_days_to_settle_claim_of_all_products}}</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body-1">
                        <h6 class="card-subtitle-1 mb-2 text-body-secondary">No. of Claims & Inspections Initiated</h6>
                        <p>{{dashboard.value.claims_inspections_initiated}}</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body-1">
                        <h6 class="card-subtitle-1 mb-2 text-body-secondary">No. of Claims Completed</h6>
                        <p>{{dashboard.value.claims_inspections_completed}}</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body-1">
                        <h6 class="card-subtitle-1 mb-2 text-body-secondary">No. of Claims in Process</h6>
                        <p>{{dashboard.value.claims_inspections_in_progress}}</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body-1">
                        <h6 class="card-subtitle-1 mb-2 text-body-secondary">Total Users</h6>
                        <p>{{dashboard.value.total_users}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Charts-Section -->

<!-- BAR_CHART -->
<div class="chart">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card d-flex">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">Composition of Claims & Inspections Initiated
                            <div class="cal">
                                <input type="text" class="datepicker-calendar-icon calendar-icon" ngxDaterangepickerMd
                                    [locale]="{ format: 'DD/MM/YYYY' }" [(ngModel)]="selected"
                                    placeholder="Select a date range">
                                <button class="calendar btn-outline-secondary"><i class="fa fa-calendar-alt"
                                        aria-hidden="true"></i>
                                </button>
                            </div>

                        </h6>
                        <div id="chart">
                            <div *ngFor="let item of data" class="progress-container">
                                <div class="label">
                                    {{ item.name }}
                                </div>
                                <div class="progress-bar" [ngStyle]="{ 'width': item.percentage + '%' }">
                                    <span *ngIf="item.count > 0">{{ item.count }}</span>
                                </div>
                                <div class="percentage">
                                    {{ item.percentage }} %
                                </div>
                            </div>
                            <apx-chart [series]="barChart.series" [chart]="barChart.chart"
                                [dataLabels]="barChart.dataLabels" [colors]="barChart.colors"
                                [plotOptions]="barChart.plotOptions"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>

            <!-- donut CHART -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-subtitle mb-2 text-body-secondary">Task Status Distribution
                            <div class="cal">
                                <input type="text" class="datepicker-calendar-icon calendar-icon" ngxDaterangepickerMd
                                    [locale]="{ format: 'DD/MM/YYYY' }" [(ngModel)]="selected"
                                    placeholder="Select a date range">
                                <button class="calendar btn-outline-secondary"><i class="fa fa-calendar-alt"
                                        aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div id="dashboard">
                            <div *ngIf="dashboard">
                                <div class="row">
                                    <div id="chart" style="min-height: 377px;">
                                        <apx-chart [series]="donut.series" [chart]="donut.chart" [fill]="donut.fill"
                                            [dataLabels]="donut.dataLabels" [responsive]="donut.responsive"
                                            [legend]="donut.legend" [labels]="donut.labels" [colors]="donut.colors">
                                        </apx-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- COLUMN-CHART -->

<div class="chart-2 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-subtitle mb-2 text-body-secondary">Number of Claims & Inspections Initiated
                            Each Month
                            <div class="cal">
                                <input type="text" class="datepicker-calendar-icon calendar-icon" ngxDaterangepickerMd
                                    [locale]="{ format: 'DD/MM/YYYY' }" [(ngModel)]="selected"
                                    placeholder="Select a date range">
                                <button class="calendar btn-outline-secondary"><i class="fa fa-calendar-alt"
                                        aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div id="chart">
                            <apx-chart [series]="columnChart.series" [chart]="columnChart.chart"
                                [dataLabels]="columnChart.dataLabels" [plotOptions]="columnChart.plotOptions"
                                [yaxis]="columnChart.yaxis" [legend]="columnChart.legend" [fill]="columnChart.fill"
                                [stroke]="columnChart.stroke" [tooltip]="columnChart.tooltip"
                                [xaxis]="columnChart.xaxis">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-subtitle mb-2 text-body-secondary">Avg. Days to Settle a Claim
                            <div class="cal">
                                <input type="text" class="datepicker-calendar-icon calendar-icon" ngxDaterangepickerMd
                                    [locale]="{ format: 'DD/MM/YYYY' }" [(ngModel)]="selected" [maxDate]="maxDate"
                                    [minDate]="minDate" placeholder="Select a date range">
                                <button class="calendar btn-outline-secondary"><i class="fa fa-calendar-alt"
                                        aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div id="chart">
                            <apx-chart [series]="basicBarChart.series" [chart]="basicBarChart.chart"
                                [dataLabels]="basicBarChart.dataLabels" [plotOptions]="basicBarChart.plotOptions"
                                [xaxis]="basicBarChart.xaxis">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- TOP-10-USERS -->

<div class="chart-2 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-subtitle mb-2 text-body-secondary">Top 10 Users by Activity
                            <div class="cal">
                                <input type="text" class="datepicker-calendar-icon calendar-icon" ngxDaterangepickerMd
                                    [locale]="{ format: 'DD/MM/YYYY' }" [(ngModel)]="selected"
                                    placeholder="Select a date range">
                                <button class="calendar btn-outline-secondary"><i class="fa fa-calendar-alt"
                                        aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div id="chart">

                            <apx-chart [series]="topUsers.series" [chart]="topUsers.chart"
                                [dataLabels]="topUsers.dataLabels" [plotOptions]="topUsers.plotOptions"
                                [xaxis]="topUsers.xaxis">
                            </apx-chart>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-subtitle mb-2 text-body-secondary">Monthly Revenue and New Clients Registered
                            <div class="cal">
                                <input type="text" class="datepicker-calendar-icon calendar-icon" ngxDaterangepickerMd
                                    [locale]="{ format: 'DD/MM/YYYY' }" [(ngModel)]="selected"
                                    placeholder="Select a date range">
                                <button class="calendar btn-outline-secondary"><i class="fa fa-calendar-alt"
                                        aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div id="chart" style="min-height: 400px;">
                            <apx-chart [series]="mixChart.series" [chart]="mixChart.chart"
                                [dataLabels]="mixChart.dataLabels" [plotOptions]="mixChart.plotOptions"
                                [xaxis]="mixChart.xaxis" [yaxis]="mixChart.yaxis">
                                ></apx-chart>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>