<!-- <app-navbar></app-navbar> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="https://dev.icgms.sharajman.com/assets/images/logos/logo.png" alt="" class="img-fluid logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <!-- Added id and href="#" to the toggle link for proper functionality -->
                    <a class="nav-link dropdown-toggle align-items-end" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://dev.icgms.sharajman.com/assets/images/users/user4.jpg" alt=" " class="rounded-circle" width="31">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item px-1" [routerLink]="['/dashboard']"><i class="fa-regular fa-user mx-2"></i>My DashBoard</a></li>
                        <li><a class="dropdown-item px-1" href="#"><i class="fa fa-key mx-2"></i>Change Password</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <!-- Moved the logout button inside the a tag for consistency -->
                            <a class="dropdown-item px-1" href="#">
                                <button class="btn" (click)="onlogout()" [routerLink]="('/login')">Logout</button>
                                <i class="fa-solid fa-power-off mx-2"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Section -->
<div class="card">
    <div class="card-header  text-white text-center mb-0 ">
        <h4>User Information</h4>
    </div>
    <div class="card-body">
        <div class="section text-secondary">
            <h5 class="text-primary"><strong>Personal Information</strong></h5>
            <div class="row">
                <div class="col-lg-2">
                    <p><strong>First Name:</strong> </p>
                </div>
                <div class="col-lg-10">
                    <p>{{ user.firstName }}</p>
                </div>
                <div class="col-lg-2">
                    <p><strong>Last Name:</strong> </p>
                </div>
                <div class="col-lg-10">
                    <p>{{ user.lastName }}</p>
                </div>
            </div>
        </div>

        <div class="section  text-secondary">
            <h5 class="text-primary"><strong>Contact Information</strong></h5>
            <div class="row">
                <div class="col-lg-2">
                    <p><strong>Email:</strong> </p>
                </div>
                <div class="col-lg-10">
                    <p>{{ user.email }}</p>
                </div>
                <div class="col-lg-2">
                    <p><strong>Contact Number:</strong></p>
                </div>
                <div class="col-lg-10">
                    <p>{{ user.contactNumber }}</p>
                </div>
            </div>
        </div>

        <div class="section  text-secondary">
            <h5 class="text-primary"><strong>Role Information</strong></h5>
            <div class="row">
                <div class="col-lg-2">
                    <p><strong>User Type:</strong></p>
                </div>
                <div class="col-lg-10">
                    <p>{{ user.userType }}</p>
                </div>
                <div class="col-lg-2">
                    <p><strong>Role Type:</strong></p>
                </div>
                <div class="col-lg-10">
                    <p>{{ user.roleType }}</p>
                </div>
            </div>
        </div>
    </div>
</div>